# pq_api_v2
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module PqApiV2
  # AuthorizationsApi
  class AuthorizationsApi < BaseApi
    # Search for [authorizations](page:resources/authorizations) — pending card
    # transactions that have been authorized by a merchant but have not yet
    # settled. Include a `scope` property in the request body. The response
    # carries the requested page and a `searchId`; use `GET
    # /authorizations/search/{searchId}` to paginate the cached result set. See
    # [Searching](page:concepts/searching).
    # @param [AuthorizationSearchRequest] body Required parameter: TODO: type
    # description here
    # @param [String] accept_language Optional parameter: Header parameter that
    # selects the response language for localized fields (e.g., user-facing
    # event descriptions). Accepts a [BCP
    # 47](https://www.rfc-editor.org/info/bcp47) language tag — see
    # [Localization](page:concepts/localization-parameters) and [Supported
    # Languages](page:additional-api-information/supported-languages) for the
    # value list.
    # @param [String] accept_timezone Optional parameter: Header parameter that
    # selects the timezone applied to date/time values in the response. Accepts
    # an IANA timezone identifier — see [Timezone
    # Parameters](page:concepts/timezone-parameters) and [Supported
    # Timezones](page:additional-api-information/supported-timezones) for the
    # value list.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def search_authorizations(body,
                              accept_language: 'en-US',
                              accept_timezone: 'UTC')
      @api_call
        .request(new_request_builder(HttpMethodEnum::POST,
                                     '/authorizations/search',
                                     Server::API)
                   .header_param(new_parameter('application/json', key: 'Content-Type'))
                   .body_param(new_parameter(body)
                                .is_required(true))
                   .header_param(new_parameter(accept_language, key: 'Accept-Language'))
                   .header_param(new_parameter(accept_timezone, key: 'Accept-Timezone'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .body_serializer(proc do |param| param.to_json unless param.nil? end)
                   .auth(Single.new('server')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(AuthorizationSearchResult.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'API error response containing error details and status'\
                                  ' information. See [Errors](page:concepts/errors) for the error'\
                                  ' object structure and [Error Types](page:concepts/error-types)'\
                                  ' for common error codes.',
                                 ApiErrorResultException)
                    .local_error('403',
                                 'API error response containing error details and status'\
                                  ' information. See [Errors](page:concepts/errors) for the error'\
                                  ' object structure and [Error Types](page:concepts/error-types)'\
                                  ' for common error codes.',
                                 ApiErrorResultException)
                    .local_error('500',
                                 'API error response containing error details and status'\
                                  ' information. See [Errors](page:concepts/errors) for the error'\
                                  ' object structure and [Error Types](page:concepts/error-types)'\
                                  ' for common error codes.',
                                 ApiErrorResultException)
                    .local_error('default',
                                 'API error response containing error details and status'\
                                  ' information. See [Errors](page:concepts/errors) for the error'\
                                  ' object structure and [Error Types](page:concepts/error-types)'\
                                  ' for common error codes.',
                                 ApiErrorResultException))
        .execute
    end

    # Retrieve a page from a previous authorization search.
    # @param [UUID | String] search_id Required parameter: Search session
    # identifier returned by the initial POST /search request. Use this value to
    # paginate through search results via the corresponding GET
    # /search/{searchId} endpoint.
    # @param [Integer] page Optional parameter: Page number to retrieve from the
    # cached search results (1-based).
    # @param [Integer] page_size Optional parameter: Number of results per page
    # (1–100).
    # @param [String] accept_language Optional parameter: Header parameter that
    # selects the response language for localized fields (e.g., user-facing
    # event descriptions). Accepts a [BCP
    # 47](https://www.rfc-editor.org/info/bcp47) language tag — see
    # [Localization](page:concepts/localization-parameters) and [Supported
    # Languages](page:additional-api-information/supported-languages) for the
    # value list.
    # @param [String] accept_timezone Optional parameter: Header parameter that
    # selects the timezone applied to date/time values in the response. Accepts
    # an IANA timezone identifier — see [Timezone
    # Parameters](page:concepts/timezone-parameters) and [Supported
    # Timezones](page:additional-api-information/supported-timezones) for the
    # value list.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def read_authorization_search(search_id,
                                  page: 1,
                                  page_size: nil,
                                  accept_language: 'en-US',
                                  accept_timezone: 'UTC')
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/authorizations/search/{searchId}',
                                     Server::API)
                   .template_param(new_parameter(search_id, key: 'searchId')
                                    .is_required(true)
                                    .should_encode(true))
                   .query_param(new_parameter(page, key: 'page'))
                   .query_param(new_parameter(page_size, key: 'pageSize'))
                   .header_param(new_parameter(accept_language, key: 'Accept-Language'))
                   .header_param(new_parameter(accept_timezone, key: 'Accept-Timezone'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('server')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(AuthorizationSearchResult.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'API error response containing error details and status'\
                                  ' information. See [Errors](page:concepts/errors) for the error'\
                                  ' object structure and [Error Types](page:concepts/error-types)'\
                                  ' for common error codes.',
                                 ApiErrorResultException)
                    .local_error('403',
                                 'API error response containing error details and status'\
                                  ' information. See [Errors](page:concepts/errors) for the error'\
                                  ' object structure and [Error Types](page:concepts/error-types)'\
                                  ' for common error codes.',
                                 ApiErrorResultException)
                    .local_error('404',
                                 'API error response containing error details and status'\
                                  ' information. See [Errors](page:concepts/errors) for the error'\
                                  ' object structure and [Error Types](page:concepts/error-types)'\
                                  ' for common error codes.',
                                 ApiErrorResultException)
                    .local_error('500',
                                 'API error response containing error details and status'\
                                  ' information. See [Errors](page:concepts/errors) for the error'\
                                  ' object structure and [Error Types](page:concepts/error-types)'\
                                  ' for common error codes.',
                                 ApiErrorResultException)
                    .local_error('default',
                                 'API error response containing error details and status'\
                                  ' information. See [Errors](page:concepts/errors) for the error'\
                                  ' object structure and [Error Types](page:concepts/error-types)'\
                                  ' for common error codes.',
                                 ApiErrorResultException))
        .execute
    end
  end
end
