# pq_api_v2
#
# This file was automatically generated by APIMATIC v3.0 (
# https://www.apimatic.io ).

module PqApiV2
  # UserEventsApi
  class UserEventsApi < BaseApi
    # Fetch a list of [user events](page:resources/events) that supports
    # [filtering](page:concepts/filtering-sorting),
    # [sorting](page:concepts/filtering-sorting#sorting), and
    # [pagination](page:concepts/pagination) through existing mechanisms. Events
    # represent notable actions or requirements for a user, such as a KYC check
    # being required or an agreement needing acceptance. See [Event
    # Statuses](page:additional-api-information/event-status-types) for possible
    # event states.
    # @param [String] user_token Required parameter: A token representing the
    # user. This must be a `user-` [token](page:concepts/working-with-tokens).
    # For example user-2bbfc967-d12e-4647-a887-d905172fb4bc.
    # @param [String] accept_language Optional parameter: Header parameter that
    # selects the response language for localized fields (e.g., user-facing
    # event descriptions). Accepts a [BCP
    # 47](https://www.rfc-editor.org/info/bcp47) language tag — see
    # [Localization](page:concepts/localization-parameters) and [Supported
    # Languages](page:additional-api-information/supported-languages) for the
    # value list.
    # @param [String] accept_timezone Optional parameter: Header parameter that
    # selects the timezone applied to date/time values in the response. Accepts
    # an IANA timezone identifier — see [Timezone
    # Parameters](page:concepts/timezone-parameters) and [Supported
    # Timezones](page:additional-api-information/supported-timezones) for the
    # value list.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_users_user_token_events(user_token,
                                    accept_language: 'en-US',
                                    accept_timezone: 'UTC')
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/users/{user-token}/events',
                                     Server::API)
                   .template_param(new_parameter(user_token, key: 'user-token')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter(accept_language, key: 'Accept-Language'))
                   .header_param(new_parameter(accept_timezone, key: 'Accept-Timezone'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('server')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(UserEventListResult.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'API error response containing error details and status'\
                                  ' information. See [Errors](page:concepts/errors) for the error'\
                                  ' object structure and [Error Types](page:concepts/error-types)'\
                                  ' for common error codes.',
                                 ApiErrorResultException)
                    .local_error('403',
                                 'API error response containing error details and status'\
                                  ' information. See [Errors](page:concepts/errors) for the error'\
                                  ' object structure and [Error Types](page:concepts/error-types)'\
                                  ' for common error codes.',
                                 ApiErrorResultException)
                    .local_error('404',
                                 'API error response containing error details and status'\
                                  ' information. See [Errors](page:concepts/errors) for the error'\
                                  ' object structure and [Error Types](page:concepts/error-types)'\
                                  ' for common error codes.',
                                 ApiErrorResultException)
                    .local_error('500',
                                 'API error response containing error details and status'\
                                  ' information. See [Errors](page:concepts/errors) for the error'\
                                  ' object structure and [Error Types](page:concepts/error-types)'\
                                  ' for common error codes.',
                                 ApiErrorResultException)
                    .local_error('default',
                                 'API error response containing error details and status'\
                                  ' information. See [Errors](page:concepts/errors) for the error'\
                                  ' object structure and [Error Types](page:concepts/error-types)'\
                                  ' for common error codes.',
                                 ApiErrorResultException))
        .execute
    end

    # Fetch a single [user event](page:resources/events) by its `evnt-`
    # [token](page:concepts/working-with-tokens). Returns the event type,
    # [status](page:additional-api-information/event-status-types), and
    # associated resource details.
    # @param [String] user_token Required parameter: A token representing the
    # user. This must be a `user-` [token](page:concepts/working-with-tokens).
    # For example user-2bbfc967-d12e-4647-a887-d905172fb4bc.
    # @param [String] event_token Required parameter: Auto-generated unique
    # identifier representing an event, prefixed with `evnt-`.
    # @param [String] accept_language Optional parameter: Header parameter that
    # selects the response language for localized fields (e.g., user-facing
    # event descriptions). Accepts a [BCP
    # 47](https://www.rfc-editor.org/info/bcp47) language tag — see
    # [Localization](page:concepts/localization-parameters) and [Supported
    # Languages](page:additional-api-information/supported-languages) for the
    # value list.
    # @param [String] accept_timezone Optional parameter: Header parameter that
    # selects the timezone applied to date/time values in the response. Accepts
    # an IANA timezone identifier — see [Timezone
    # Parameters](page:concepts/timezone-parameters) and [Supported
    # Timezones](page:additional-api-information/supported-timezones) for the
    # value list.
    # @return [ApiResponse] Complete http response with raw body and status code.
    def get_users_user_token_events_event_token(user_token,
                                                event_token,
                                                accept_language: 'en-US',
                                                accept_timezone: 'UTC')
      @api_call
        .request(new_request_builder(HttpMethodEnum::GET,
                                     '/users/{user-token}/events/{event-token}',
                                     Server::API)
                   .template_param(new_parameter(user_token, key: 'user-token')
                                    .is_required(true)
                                    .should_encode(true))
                   .template_param(new_parameter(event_token, key: 'event-token')
                                    .is_required(true)
                                    .should_encode(true))
                   .header_param(new_parameter(accept_language, key: 'Accept-Language'))
                   .header_param(new_parameter(accept_timezone, key: 'Accept-Timezone'))
                   .header_param(new_parameter('application/json', key: 'accept'))
                   .auth(Single.new('server')))
        .response(new_response_handler
                    .deserializer(APIHelper.method(:custom_type_deserializer))
                    .deserialize_into(UserEventResult.method(:from_hash))
                    .is_api_response(true)
                    .local_error('400',
                                 'API error response containing error details and status'\
                                  ' information. See [Errors](page:concepts/errors) for the error'\
                                  ' object structure and [Error Types](page:concepts/error-types)'\
                                  ' for common error codes.',
                                 ApiErrorResultException)
                    .local_error('403',
                                 'API error response containing error details and status'\
                                  ' information. See [Errors](page:concepts/errors) for the error'\
                                  ' object structure and [Error Types](page:concepts/error-types)'\
                                  ' for common error codes.',
                                 ApiErrorResultException)
                    .local_error('404',
                                 'API error response containing error details and status'\
                                  ' information. See [Errors](page:concepts/errors) for the error'\
                                  ' object structure and [Error Types](page:concepts/error-types)'\
                                  ' for common error codes.',
                                 ApiErrorResultException)
                    .local_error('500',
                                 'API error response containing error details and status'\
                                  ' information. See [Errors](page:concepts/errors) for the error'\
                                  ' object structure and [Error Types](page:concepts/error-types)'\
                                  ' for common error codes.',
                                 ApiErrorResultException)
                    .local_error('default',
                                 'API error response containing error details and status'\
                                  ' information. See [Errors](page:concepts/errors) for the error'\
                                  ' object structure and [Error Types](page:concepts/error-types)'\
                                  ' for common error codes.',
                                 ApiErrorResultException))
        .execute
    end
  end
end
